<form method="post" action="/create">
    <input type="text" placeholder="FIO" name="name"/>
    <input type="text" placeholder="Phone" name="phone"/>
    <input type="submit" value="Add">
</form>
<form method="get" action="/">
    <input type="submit" value="Decline">
</form>